* {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#message-box, canvas {
    width: 100vw;
    height: 47.5vh;
}

#divider {
    height: 4vh;
    width: 100vw;
    border-top: 0.5vh solid black;
    border-bottom: 0.5vh solid black;
    display: flex;
    align-content: center;
    justify-content: center;
}

canvas {
    cursor: crosshair;
}
